<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
  <link rel="stylesheet" href="../output.css">
</head>
 
<body class="flex-col bg-white justify-items-center items-center min-h-screen relative">
  <header class="bg-red-500 text-4xl flex justify-start gap-15 h-fit p-2 w-screen">
    <a href="/login"  class="flex justify-start font-bold text-white  w-fit hover:text-black border-2 border-black rounded">Login</a>
    <a href="/signup"  class="flex justify-start font-bold text-white  w-fit hover:text-black border-2 border-black rounded">signup</a>
  </header>
 
  <br>
  <h1 class="text-4xl font-bold text-black  flex justify-center">signup</h1>
  <br>
  
  <main class="w-screen flex flex-col justify-center items-center min-h-screen-[calc(100vh-var(--header-h))]">
    
  <form action="/signup" method="post" class="flex flex-col relative items-center">
    <% if(errors && errors.length>0) {%>
      <div class="w-auto bg-red-400/60 rounded mb-4" >
        <ul class="list-disc list-inside">
      <% errors.forEach(err=>{ %>
        <li class="px-2"><%= err %></li>
      <% }) %>
        </ul>
      </div>
    <% } %>
    <% if(errors && errors.length>0) {%>
    <input type="text" name="firstName" value="<%= oldInput.firstName %>" placeholder="First Name" class="font-bold text-black border-2 rounded border-black 
    hover:bg-red-300" required><br>
    <input  type="text" name="lastName" value="<%= oldInput.lastName %>" placeholder="Last Name" class="font-bold text-black border-2 rounded border-black
    hover:bg-red-300"><br>
     <input required type="email" name="email" value="<%= oldInput.email %>" placeholder="email" class="font-bold text-black border-2 rounded border-black 
    hover:bg-red-300">
    <br>
    <input required type="password" name="password" value="<%= oldInput.password %>"  placeholder="Password" class="font-bold text-black border-2 rounded border-black 
    hover:bg-red-300">
    <br>
    
      <input required type="password" name="confirmPassword" value="<%= oldInput.confirmPassword %>" placeholder="Confirm Password" class="font-bold text-black border-2 rounded border-black 
    hover:bg-red-300">
    <br>
    <p>User-Type:</p>
    <div class="flex justify-center gap-x-4" >
    <label ><input type="radio" name="userType" value="Guest" 
      <%= oldInput.userType ==='Guest' ? 'checked' : '' %>
      id="guest" class="mr-2"><span>Guest</span></label>
    <br>
    <label ><input type="radio" name="userType" value="Host" 
      <%= oldInput.userType ==='Host' ? 'checked' : '' %>
      id="host" class="mr-2"><span>Host</span></label>
    </div>
    <br>
  <% } else{%>
    <input type="text" name="firstName"  placeholder="First Name" class="font-bold text-black border-2 rounded border-black 
    hover:bg-red-300" required><br>
    <input  type="text" name="lastName"  placeholder="Last Name" class="font-bold text-black border-2 rounded border-black
    hover:bg-red-300"><br>
     <input required type="email" name="email"  placeholder="email" class="font-bold text-black border-2 rounded border-black 
    hover:bg-red-300">
    <br>
    <input required type="password" name="password"  placeholder="Password" class="font-bold text-black border-2 rounded border-black 
    hover:bg-red-300">
    <br>
    
      <input required type="password" name="confirmPassword" placeholder="Confirm Password" class="font-bold text-black border-2 rounded border-black 
    hover:bg-red-300">
    <br>
    <p>User-Type:</p>
    <div class="flex justify-center gap-x-4" >
    <label ><input type="radio" name="userType" value="Guest" 
      id="guest" class="mr-2"><span>Guest</span></label>
    <br>
    <label ><input type="radio" name="userType" value="Host" 
      id="host" class="mr-2"><span>Host</span></label>
    </div>
    <br>
  
  
  <% }%>
    <button type="submit" value="submit" 
      class="w-fit font-bold text-3xl rounded border-2 p-2 border-black text-white bg-red-500 hover:cursor-pointer hover:text-black" >Sign Up</button>

  </form>
  </main> 

  
</body>
</html>